@model IEnumerable<MoveIt.WebUi.ViewModels.TournamentEventViewModel>
@{
    ViewBag.Title = "Home";
}

<section id="jumbotron">
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="title-container">
                <div class="headline">
                    <h1>Move IT!</h1>
                </div>
                <div class="description">
                    <div class="inner">Welcome to the social media, designed to help you find new friends while playing your favourite sport!</div>
                </div>
            </div>
            <div class="filter"></div>
            <video autoplay loop muted class="fillWidth">
                <source src="~/Assets/Videos/Jumbotron_Video.m4v" type="video/mp4" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="http://www.videojs.com/img/poster.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section id="tournament-events">
    <h2 class="text-center">Upcomming events:</h2>
    <div class="container">
        @foreach (var tournamentEvent in Model)
        {
            <div class="row">
                <div class="col-lg-offset-4 col-lg-1">Icon image</div>
                <div class="col-lg-7">
                    <span>@tournamentEvent.Name</span>
                    <span>
                        Playing:
                        @foreach (var team in tournamentEvent.Teams)
                        {
                            if (@team != tournamentEvent.Teams.Last() )
                            {
                                @team.Name; @:VS
                            }
                            else
                            {
                                @team.Name;
                            }
                        }
                    </span>
                    <span>Location:</span>
                    <span>at: Date</span>
                </div>
            </div>
        }
    </div>
</section>



@section scripts {
    <script>
        /** Document Ready Functions **/
        /********************************************************************/

        $(document).ready(function () {

            // Resive video
            scaleVideoContainer();

            initBannerVideoSize('.video-container .poster img');
            initBannerVideoSize('.video-container .filter');
            initBannerVideoSize('.video-container video');

            $(window).on('resize', function () {
                scaleVideoContainer();
                scaleBannerVideoSize('.video-container .poster img');
                scaleBannerVideoSize('.video-container .filter');
                scaleBannerVideoSize('.video-container video');
            });

        });

        /** Reusable Functions **/
        /********************************************************************/

        function scaleVideoContainer() {

            var height = $(window).height();
            var unitHeight = parseInt(height) + 'px';
            $('.homepage-hero-module').css('height', unitHeight);

        }

        function initBannerVideoSize(element) {

            $(element).each(function () {
                $(this).data('height', $(this).height());
                $(this).data('width', $(this).width());
            });

            scaleBannerVideoSize(element);

        }

        function scaleBannerVideoSize(element) {

            var windowWidth = $(window).width(),
                windowHeight = $(window).height(),
                videoWidth,
                videoHeight;

            console.log(windowHeight);

            $(element).each(function () {
                var videoAspectRatio = $(this).data('height') / $(this).data('width'),
                    windowAspectRatio = windowHeight / windowWidth;

                if (videoAspectRatio > windowAspectRatio) {
                    videoWidth = windowWidth;
                    videoHeight = videoWidth * videoAspectRatio;
                    $(this).css({ 'top': -(videoHeight - windowHeight) / 2 + 'px', 'margin-left': 0 });
                } else {
                    videoHeight = windowHeight;
                    videoWidth = videoHeight / videoAspectRatio;
                    $(this).css({ 'margin-top': 0, 'margin-left': -(videoWidth - windowWidth) / 2 + 'px' });
                }

                $(this).width(videoWidth).height(videoHeight);

                $('.homepage-hero-module .video-container video').addClass('fadeIn animated');
            });
        }
    </script>
}