@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">

        <h1 class="home-header">Move IT!</h1>
        <p class="lead text-center">Welcome to the social media,<br/> designed to help you find new friends<br/> while playing your favourite sport.</p>

    <div class="row">
        <button class="btn col-lg-offset-5">Play</button>
        <button class="btn btn-default">Register</button>
    </div>
</div>