@model MoveIt.WebUi.ViewModels.TeamViewModel

<div class="col-lg-offset-3 col-lg-6">
    @foreach (var user in Model.Users)
    {
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="team-user-photo">
                    <img src="" alt="Member Image" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="team-user-name text-center">
                    @user.UserName
                </div>
            </div>
        </div>
    }
</div>
