/* Colors: 
    Primary - #616C0D(green)/#FFA21A(orange)
    Footer - #A68369
*/

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*----------------------------- Bootstrap Overwrites -----------------------------*/
/*--------------------------------------------------------------------------------*/
.navbar-default .navbar-brand {
    color: #616C0D;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
    color: #73801D;
}

/*----------------------------- Custom CSS -----------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------- Layout -----------------------------*/
/*----------------------------- Navbar -----------------------------*/
body > header > div > div > div.navbar-collapse.collapse > ul > li > a {
    display: inline-block;
    padding-left: 0;
}

.nav-icon {
    color: #616c0d;
    padding-right: 10px;
    font-size: 1.7rem;
}

/*----------------------------- End Navbar -----------------------------*/

/*----------------------------- Footer -----------------------------*/
body > footer > div {
    background-color: #B1C4D4;
}

    body > footer > div > div:nth-child(1) > div {
        margin-top: 2%;
    }

body > footer ul {
    list-style: none;
}

body > footer > div > div > div > ul li > a:link,
body > footer > div > div > div > ul li > a:visited {
    color: #A68369;
    font-weight: 700;
}

body > footer > div > div > div > ul li:nth-child(1) > a:hover,
body > footer > div > div > div > ul li:nth-child(1) > a:active {
    color: #3b5998;
}

body > footer > div > div > div > ul li:nth-child(2) > a:hover,
body > footer > div > div > div > ul li:nth-child(2) > a:active {
    color: #55acee;
}

body > footer > div > div > div > ul li:nth-child(3) > a:hover,
body > footer > div > div > div > ul li:nth-child(3) > a:active {
    color: #e95950;
}

body > footer > div > div > div > ul li:nth-child(4) > a:hover,
body > footer > div > div > div > ul li:nth-child(4) > a:active {
    color: #dd4b39;
}

body > footer > div > div > div > ul li:nth-child(5) > a:hover,
body > footer > div > div > div > ul li:nth-child(5) > a:active {
    color: #32506d;
}

body > footer > div > div:nth-child(1) > div:nth-child(2) > ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

    body > footer > div > div:nth-child(1) > div:nth-child(2) > ul li {
        flex-grow: 1;
    }

body > footer > div > div:nth-child(1) > div:nth-child(2) {
    margin-top: 5%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #A68369;
}

.footer-icon {
    font-size: 2.6rem;
}
/*----------------------------- End Layout -----------------------------*/


/*Home/Index*/
/*----------------------------- Jumbotron -----------------------------*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.headline,
.description {
    color: #F6FCFC;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

    .video-container .poster img {
        width: 100%;
        bottom: 0;
        position: absolute;
    }

    .video-container .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
    }

    .video-container .title-container {
        z-index: 1000;
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    .video-container .description .inner {
        font-size: 1em;
        width: 45%;
        margin: 0 auto;
    }

    .video-container .link {
        position: absolute;
        bottom: 3em;
        width: 100%;
        text-align: center;
        z-index: 1001;
        font-size: 2em;
        color: #fff;
    }

        .video-container .link a {
            color: #fff;
        }

    .video-container video {
        position: absolute;
        z-index: 0;
        bottom: 0;
        transform: scaleX(1.35);
    }

        .video-container video.fillWidth {
            width: 100%;
        }
/*----------------------------- End Jumbotron -----------------------------*/

/*----------------------------- Tournament Events -----------------------------*/
#tournament-events h2 {
    color: #616C0D;
    font-weight: 700;
}

#tournament-events > div > div:nth-child(even) {
    background-color: #F6FCFC;
    color: #73801D;
}

#tournament-events > div > div:last-of-type {
    margin-bottom: 3%;
}

#tournament-events > div > div > div > span {
    display: block;
}

#tournament-events > div > div > div.col-lg-offset-4.col-lg-1 {
    height: 50px;
    padding: 2% 0;
}

/*----------------------------- End Tournament Events -----------------------------*/

/*GameLobby/Index*/
/*----------------------------- Game Lobby -----------------------------*/
body > main > section > div > div > div:nth-child(3) {
    border-left: 1px solid #73801d;
}

.game-lobby > div > div > div:nth-child(2) > h2 {
    color: #616C0D;
    font-weight: 700;
}

body > main > section > div > div > div:nth-child(1) hr,
body > main > section > div > div > div:nth-child(3) hr {
    width: 70%;
    border-color: #73801d;
}

.game-lobby .game-lobby-location {
    height: 250px;
    border: 4px outset #73801D;
    margin-bottom: 2%;
}

.game-lobby > div > div > div:nth-child(2) > div:nth-child(3) > div {
    padding-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.game-lobby h3 {
    color: #616C0D;
}

.team-user-name {
    color: #616C0D;
    font-size: 2rem;
    font-weight: 700;
}

.team-user-photo {
    border-radius: 50%;
}
/*----------------------------- End Game Lobby -----------------------------*/
