/* Colors: 
    Primary - #7FE82D(green)/#FFA21A(orange)
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Shared Elements */

.home-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/home-background.jpg");
    background-size: cover;
    color: #fff;
}


/* Override Bootstrap */
.navbar .navbar-inverse {
    color: #7FE82D !important;
}

.container-fluid {
    margin: 0;
    max-height: 100vh;
}

.lead {
    color: #fff;
    font-size: 1.6em;
    color: #7FE82D;
    margin-top: 6%;
}

/* Custom Page */
.home-header {
    margin: 0 10%;
    font-size: 14em;
    color: #7FE82D;
}

/* Layout */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #777;
}

/* Jumbotron */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 70%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

    .video-container .poster img {
        width: 100%;
        bottom: 0;
        position: absolute;
    }

    .video-container .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
    }

    .video-container .title-container {
        z-index: 1000;
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    .video-container .description .inner {
        font-size: 1em;
        width: 45%;
        margin: 0 auto;
    }

    .video-container .link {
        position: absolute;
        bottom: 3em;
        width: 100%;
        text-align: center;
        z-index: 1001;
        font-size: 2em;
        color: #fff;
    }

        .video-container .link a {
            color: #fff;
        }

    .video-container video {
        position: absolute;
        z-index: 0;
        bottom: 0;
    }

        .video-container video.fillWidth {
            width: 100%;
        }